body {
  font-family: sans-serif;
  background-color: #1e4d92;
  display: flex;
}

header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 0px;
  margin-top: 20px;
}
.container {
  background-color: white;
  display: inline-block;
  /* margin:0px auto; */
  justify-content: center;
  align-items: center;
  margin: 200px auto;
  border-radius: 20px;
}
header img {
  width: 50px;
  height: 50px;
}

h1 {
  font-size: 18px;
  margin: 0;
}

main {
  padding: 20px;
  padding-top: 0px;
}

h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.btn-delete {
  margin-top: 20px;
  background-color: red;
  margin-bottom: 0px;
}
.btn-reply {
  background-color: #1e4d92;
}
.btn-delete:hover {
  background-color: red;
  opacity: 0.5;
}
.btn-reply:hover {
  background-color: 1e4d92;
  opacity: 0.8;
}
